<div class="flex justify-center">
    <div class="flex flex-col items-center w-96 mt-32 gap-2 shadow p-8 bg-white">
      <h2>Hi {{ quizResult.name }}, Your results are below</h2>
      <table class="w-full">
        <tr class="bg-gray-500">
          <td>Score</td>
          <td>{{ quizResult.score }}</td>
        </tr>
        <tr class="bg-purple-500">
          <td>Percentage</td>
          <td>{{ quizResult.percentage }}</td>
        </tr>
        <tr class="bg-green-500">
          <td>Correct</td>
          <td>{{ quizResult.correct }}</td>
        </tr>
        <tr class="bg-red-400">
          <td>In Correct</td>
          <td>{{ quizResult.inCorrect }}</td>
        </tr>
        <tr class="bg-yellow-400">
          <td>Un Attempt</td>
          <td>{{ quizResult.unAttempt }}</td>
        </tr>
      </table>
    </div>
  </div>