<div class="flex justify-center">
  @if(currentQuestion){
  <div
    class="flex flex-col items-center w-6/12 mt-32 gap-2 shadow p-8 bg-white"
  >
    <h4 class="text-lg">{{ quizInfo.name }}</h4>
    <div class="w-full p-4 shadow mb-2">
      <p>{{ currentQuestion.content }}</p>
    </div>
    @for (option of currentQuestion.options; track option) {
    <div
      class="w-full flex items-center p-4 shadow mb-2 cursor-pointer"
      (click)="currentSelectedOptionId = option.id"
    >
      <mat-radio-button
        color="primary"
        [value]="option.id"
        [checked]="currentSelectedOptionId == option.id"
      ></mat-radio-button>
      <p>{{ option.content }}</p>
    </div>
    }
    <div class="w-full flex justify-end">
      @if(currentQuestionNo==quizInfo.questions.length-1){
      <button mat-raised-button color="primary" (click)="submit()">
        Submit
      </button>
      }@else{
      <button mat-raised-button color="primary" (click)="next()">
        Save & Next
      </button>
      }
    </div>
  </div>
  }
</div>